/* Work Sans Font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* share style */
*{
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    padding: 20px 25px;
    margin: 20px;
}
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 45px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
}
ul li{
    padding-right: 20px;
    list-style-type: none;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
}
ul li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    color:#131313;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
}
.banner-content{
    width: 860px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    color: #131313;
    font-family: Work Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.banner img{
    width: 100%;
}
/* Main Css */
main{
    width: 1440px;
    margin: 70px auto;
 
}
.team-section{
    display: flex;
    padding: 45px 100px;
    gap: 20px;
    align-items: center;

}
.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.team-image img{
    width: 100%;

}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.team-description{

    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
/* Responsive Media */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .team-section{
        flex-direction: column;
    }
    .team-image{
        grid-template-columns: 1fr;
    }
    .team-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* Tablet or Medium Device */
@media screen and (min-width:577px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }


}
